.home {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0)), url("project_img.jfif");
    background-position: center;
    background-size: cover;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 5%;
    color: rgb(255, 255, 255);

}

.home h1 {
    font-family: 'Alkatra', cursive;
    padding: 5px;

}

.home p {
    margin: 10px 0 30px 0;
    line-height: 3;
    width: 70%;
    line-height: 1.3;
}