/* #map {
    width: 50vw;
    height: 100vh;
} */


/* css for mapbox start  */
.map-container {
    height: 93vh;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    margin: 1px 0 0 1px;
    border-radius: 4px;
}

/* css for mapbox end  */

.student,
.driver {
    position: absolute;
    background-size: cover;
    top: -14px;
    cursor: pointer;
}

.student {
    background-image: url('mapbox-icon.png');
    width: 30px;
    height: 30px;
}

.driver {
    background-image: url('bus-marker.png');
    /* background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("bus-marker.png"); */
    width: 25px;
    height: 35px;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* .mapboxgl-popup {
    max-width: 100vh;
} */

/* .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
} */